<h3>Upcoming Events</h3>
<br/>
<% @events.each do |event| %>
<h4><%= link_to event.title, event %></h4>
<p><%= link_to event.time, event %></p>
<p><%= event.venue %></p>
<p><%= event.description.truncate(250) %></p>
<p><%= link_to 'More Info', event, class: 'btn btn-sm btn-primary pull-right' %></p>
<br/>
<hr>
<% end %>
<%= will_paginate @events %>