<div class="fancytitle"><%= @event.title %></div>
<table width="80%" class="table">
  <tr>
    <td width="15%"><strong>When:</strong></td>
    <td width="85%"><%= @event.time %></td>
  </tr>
  <% if !@event.venue.empty? %>
      <tr>
        <td><strong>Where:</strong></td>
        <td><%= @event.venue %></td>
      </tr>
  <% end %>
  <% if !@event.address.empty? %>
      <tr>
        <td></td>
        <td><%= @event.address %> <%= @event.city %>, <%= @event.state %> <%= @event.zip %></td>
      </tr>
  <% end %>
  <% if !@event.description.empty? %>
      <tr>
        <td><strong>Description:</strong></td>
        <td><%= simple_format @event.description %></td>
      </tr>
  <% end %>
  <% if !@event.url.empty? %>
      <tr>
        <td><strong>Website:</strong></td>
        <td><%= link_to @event.url, @event.url %></td>
      </tr>
  <% end %>

</table>
<p class="text-right"><%= link_to 'Back to all of Kevin\'s events', events_path, class: '' %></p>
<hr>
<%= render 'layouts/structure/disqus-thread' %>