<%= semantic_form_for(@page, :html => {:multipart => true}) do |f| %>

    <table class="table">
      <tr>
        <td>Page Name:</td>
        <td><%= f.input :name, label: false %></td>
      </tr>
      <tr>
        <td>Permalink:</td>
        <td><%= f.input :permalink, label: false %></td>
      </tr>
      <tr>
        <td>Page Name:</td>
        <td><%= f.input :content, label: false %></td>
      </tr>
      <tr>
        <td>Page Image:</td>
        <td><%= f.input :page_image, label: false %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.action :submit, :as => :input %></td>
      </tr>
     </table>
<% end %>
