<%= semantic_form_for @photo, :html => {:multipart => true} do |f| %>

    <table class="table">
      <tr>
        <td>Title:</td>
        <td><%= f.input :title, label: false %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><%= f.input :description, label: false %></td>
      </tr>
      <tr>
        <td>Photo:</td>
        <td><%= f.file_field :photo_image, label:false %></td>
      </tr>
      <tr>
        <td>Allow Comments:</td>
        <td><%= f.input :allow_comments, label:false %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.action :submit, :as => :input, class: 'btn btn-lg btn-primary' %></td>
      </tr>
    </table>
<% end %>
