<% @photos.each do |photo| %>
<h4><%= photo.title %></h4>
<p><%= image_tag photo.photo_image.url, class: 'img-responsive' %></p>
<p><%= time_ago_in_words photo.created_at %> ago</p>
<p><%= photo.description.html_safe %></p>
<% end %>

<%= paginate @photos %>
